<h1 class="animated fadeIn fast">Sobre Comics App</h1>
<hr>
<p class="animated fadeIn">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Accusamus illo nihil aperiam eius quasi culpa consectetur. Doloremque, beatae ea enim adipisci amet facilis, iste nemo non ducimus, natus eaque minima?</p>
<p class="animated fadeIn">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Accusamus illo nihil aperiam eius quasi culpa consectetur. Doloremque, beatae ea enim adipisci amet facilis, iste nemo non ducimus, natus eaque minima?</p>